<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="template:: head"></div>

<script>
	function setsubTotal(i, field, disableField) {
		console.log("On blur called;" + field);

		var fieldName = "#subTotal" + i;
		var isCreditField = "#isCredit" + i;

		var disablefieldName = "#" + disableField + i;
		var value = field.value;

		var subGroupName = "#subGroup" + i;
		var subGroupVal = $(subGroupName).val();

		if (subGroupVal == 999) {
			field.value = 0;
			alert("Please Select Sub group first.");
			return;
		}
		var subtotal = $(fieldName).val(value);

		if (disableField == "Credit")
			var isCredit = $(isCreditField).val("0");
		else
			var isCredit = $(isCreditField).val("1");
		if (!(value == "" || value == 0))
			$(disablefieldName).prop('disabled', true);
		else
			$(disablefieldName).prop('disabled', false);

		validate(i);

	};

	function updateTotal(value) {
		var total = 0;
		$('.subTotal').each(function() {
			val = parseFloat($(this).val()) | 0;
			total = val ? (parseFloat(total + val)) : total;
		});
		$("#total").text(total);
		$("#total").val(total);
	}

	function validate(i) {
		var Credit = 0;
		var Debit = 0;
		var CreditGroup = false;
		var DebitGroup = false;

		$('.Debit').each(function() {
			var val = parseFloat($(this).val()) | 0;
			Debit = val ? (parseFloat(Debit + val)) : Debit;
		});

		$('.Credit').each(function() {
			var val = parseFloat($(this).val()) | 0;
			Credit = val ? (parseFloat(Credit + val)) : Credit;
		});
		$("#totalCredit").val(Credit);
		$("#totalDebit").val(Debit);

		console.log("Credit - " + Credit + " ------- Debit - " + Debit);
		if (!(Credit == Debit))
			$("#submit").prop('disabled', true);
		else {
			$("#submit").prop('disabled', false);

			$("#total").val(Debit);

			if (val == 999)
				$("#submit").prop('disabled', true);
		}

	}

	function getSubType(index, value) {
		fieldName = "#subGroup" + index;
		$(fieldName).empty();

		$.ajax({
			url : "/getSubType",
			contentType : "application/json; charset=utf-8",
			data : value,
			type : "POST",
			success : function(prodType) {
				$('fieldName').val();
				$.each(prodType, function(key, value, dropDown) {
					$(fieldName).append(
							$("<option></option>").attr("value", value[0])
									.text(value[1]));

				});

			},
			error : function(xhr, status, error) {
				alert("ERROR:" + xhr.responseText);
				console.log("ERROR:" + xhr.responseText);
			}
		});
	}
</script>
<body class="hold-transition skin-blue sidebar-mini">

	<div th:replace="template:: wrapper"></div>


	<div class="content-wrapper">
		<div class="content-header">
			<h1 align="center">New Journal</h1>
		</div>
		<!-- Main content -->
		<section class="content">
			<div class="row">
				<!-- left column -->
				<div class="col-md-12">
					<!-- general form elements -->
					<div class="box box-info">
						<!-- form start -->
						<form class="form-horizontal" th:object="${journal}"
							action="/Journal/Save" method="post">
							<div class="box-body">

								<div class="col-sm-3 pull-right text-center">

									<label for="inputPassword3" class="control-label input-lg "
										align="center">Total</label>
									<div>
										<input th:field="${journal.total}" id="total"
											readonly="readonly" class="label-total" />
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-3">
									<label for="refNo" class="control-label input-lg">Date</label>
									<input type="date" class="form-control input-lg" id="myDate"
										th:field="${journal.date}" />
								</div>

								<div class="col-sm-3">
									<label for="refNo" class="control-label input-lg">Ref.
										No</label> <input type="text" class="form-control input-lg" id="refNo"
										th:field="${journal.diaryNo}" />
								</div>
							</div>

							<table id="table1" class="table table-bordered table-hover">
								<thead>
									<tr>
										<th width="10px">#</th>
										<th width="230px">Account</th>
										<th width="310px">Sub Account</th>
										<th>Description</th>
										<th width="150px">Debit</th>
										<th width="150px">Credit</th>

									</tr>
								</thead>
								<tbody>

									<tr th:each="i: ${#numbers.sequence(0, 5)}">
										<td th:text="${i}+1"></td>

										<td><select class="form-control input-lg"
											th:onchange="'javascript:getSubType(' + ${i} + ',this.value );'">
												<option value="999">Please Select</option>

												<th:block th:each="parent : ${AccountGroup}">

													<option th:value="${parent.Acc_ID}" disabled="disabled"
														th:text="${parent.accName}" class="custom-bold">Cash In hand</option>

													<th:block th:each="child : ${parent.childList}">

														<option th:value="${child.Acc_ID}"
															th:text=" ${child.accName}">Cash In hand</option>

													</th:block>
												</th:block>
										</select></td>


										<td><select type="text" class="form-control input-lg"
											th:id="${'subGroup' + i}"
											th:field="${journal.JDList[__${i}__].subGroup_ID}">
												<option value="999">Please Select</option>
										</select></td>

										<td><input type="text" placeholder="Enter any Memo"
											class="form-control input-lg"
											th:field="${journal.JDList[__${i}__].description}" /></td>

										<td><input th:id="${'Debit'+i}" placeholder="Enter Debit"
											th:onChange="'javascript:setsubTotal(' + ${i} + ',this,\'' + Credit + '\');'"
											class="Debit form-control input-lg" /></td>

										<td><input placeholder="Enter Credit"
											th:id="${'Credit'+i}" class="Credit form-control input-lg"
											th:onChange="'javascript:setsubTotal(' + ${i} + ',this,\'' + Debit + '\');'" /></td>

										<td><input type="hidden"
											th:field="${journal.JDList[__${i}__].subTotal}"
											th:id="${'subTotal' + i}" /></td>

										<td><input type="number" hidden="hidden"
											th:field="${journal.JDList[__${i}__].isCredit}"
											th:id="${'isCredit' + i}" /></td>

									</tr>
									<tr>
										<td></td>
										<td colspan="2"><label class=" form-label input-lg">
												Remarks:</label> <textarea class="form-control input-lg"></textarea></td>
										<td></td>
										<td><label> Total Debit:</label> <input type="text"
											id="totalDebit" readonly="readonly"
											class="form-control input-lg" /></td>
										<td><label> Total Credit:</label> <input type="text"
											id="totalCredit" readonly="readonly"
											class="form-control input-lg" /></td>
									</tr>
								</tbody>

							</table>
							<div class="box-footer">
								<button type="reset" class="btn btn-default">Cancel</button>
								<button type="submit" id="submit"
									class="btn btn-lg btn-primary pull-right">Save</button>
							</div>
						</form>

					</div>
				</div>
			</div>
		</section>
	</div>




	<div th:replace="template:: footer"></div>
</body>
</html>