<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="template:: head"></div>


<script>
	function updateTotal(value) {
		var total = 0;
		$('.subTotal').each(function() {
			val = parseFloat($(this).val()) | 0;
			total = val ? (parseFloat(total + val)) : total;
		});
		$("#total").text(total);
		$("#total").val(total);
	};
	function getSubType(index, value) {
		fieldName = "#subType" + index;
		$(fieldName).empty();
		$.ajax({
			url : "/getSubType",
			contentType : "application/json; charset=utf-8",
			data : value,
			type : "POST",
			success : function(prodType) {
				$('fieldName').val();
				$.each(prodType, function(key, value, dropDown) {
					$(fieldName).append(
							$("<option></option>").attr("value", value[0])
									.text(value[1]));

				});

			},
			error : function(xhr, status, error) {
				alert("ERROR:" + xhr.responseText);
				console.log("ERROR:" + xhr.responseText);
			}
		});
	}
</script>
<body class="hold-transition skin-blue sidebar-mini">

	<div th:replace="template:: wrapper"></div>
	<div class="content-wrapper">
		<div class="content-header">
			<h1 align="center">Account Receivable</h1>
		</div>
		<!-- Main content -->
		<section class="content">
			<div class="row">
				<!-- left column -->
				<div class="col-md-12">
					<!-- general form elements -->
					<div class="box box-info">
						<!-- form start -->
						<form class="form-horizontal" action="/CreditNote/Save"
							method="post">
							<div class="box-body">
								<div class="col-sm-3">
									<label for="inputPassword3" class="control-label input-lg">From</label>

									<select class="form-control input-lg"
										th:field="${AccountRecievable.person_ID}">
										<option value="0">Please Select</option>
										<option th:each="person : ${personList}"
											th:value="${person.PersonID}"
											th:text="${person.Fname +' '+person.Lname}"></option>
									</select>
								</div>
								<div class="col-sm-3 pull-right text-center">
									<label for="inputPassword3" class="control-label input-lg"
										align="center">Total</label> <input th:id="total"
										th:field="${AccountRecievable.total}" readonly="readonly"
										class="label-total" />
								</div>
							</div>
							<div class="box-body">
								<div class="col-sm-3">
									<label for="date" class="control-label input-lg" align="center">
										 Date</label> <input type="date" class="form-control input-lg"
										id="myDate" th:field="${AccountRecievable.date}" />
								</div>
								<div class="col-sm-3">
									<label for="duedate" class="control-label input-lg"
										align="center">Expected Date</label> <input type="date"
										class="form-control input-lg" id="myDate"
										th:field="${AccountRecievable.due_Date}" />
								</div>
								<div class="col-sm-2 pull-right">
									<label for="refNo" class="control-label input-lg">Ref.
										No</label> <input type="text" class="form-control input-lg" id="refNo"
										th:field="${AccountRecievable.diary_No}" />
								</div>
							</div>
							<div class="box-body">
								<table id="table1" class="table table-bordered table-hover">
									<thead>
										<tr>
											<th>#</th>
											<th>Account</th>
											<th>Sub Account</th>
											<th>Description</th>
											<th>Amount</th>
											<th></th>
										</tr>
									</thead>
									<tbody>

										<tr th:each="i: ${#numbers.sequence(0, 5)}">
											<td th:value="${i}" th:text="${i+1}"></td>
											<td><select class="form-control input-lg"
												th:onchange="'javascript:getSubType(' + ${i} + ',this.value );'">
													<option value="999">Please Select</option>

													<th:block th:each="parent : ${income}">

														<option th:value="${parent.Acc_ID}" disabled="disabled"
															th:text="${parent.accName}" class="custom-bold">Cash In hand</option>

														<th:block th:each="child : ${parent.childList}">

															<option th:value="${child.Acc_ID}"
																th:text=" ${child.accName}">Cash In hand</option>

														</th:block>
													</th:block>
													<th:block>
														<option disabled="disabled" class="custom-bold">ASSETS</option>
														<option th:value="${currentAsset.Acc_ID}"
															th:text="${currentAsset.accName}"></option>
													</th:block>
											</select></td>
											<td><select class="form-control input-lg"
												th:id="${'subType' + i}"
												th:field="${AccountRecievable.AR_DetailList[__${i}__].subGroup_ID}">
													<option value="999">Please Select</option>
											</select></td>
											<td><input class="form-control input-lg"
												th:field="${AccountRecievable.AR_DetailList[__${i}__].remarks}"
												type="text" /></td>
											<td><input
												th:field="${AccountRecievable.AR_DetailList[__${i}__].amountReceived}"
												onblur="updateTotal(this.value)"
												placeholder="enter subtotal "
												class="subTotal form-control input-lg" /></td>

										</tr>

									</tbody>

								</table>
							</div>
							<div class="form-group">

								<label class="col-sm-2 control-labelinput-lg">Remarks:</label>
								<div class="col-sm-5">
									<textarea class="form-control input-lg" rows="4" cols="4"
										th:field="${AccountRecievable.remarks}"
										placeholder="Enter Any details if needed"></textarea>
								</div>
							</div>
							<div class="box-footer">
								<button type="reset" class="btn btn-default">Cancel</button>
								<button type="submit" class="btn btn-info pull-right">Save</button>
							</div>
						</form>

					</div>
				</div>
			</div>
		</section>
	</div>




	<div th:replace="template:: footer"></div>
</body>
</html>