<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="template:: head"></div>


<script th:inline="javascript">
	function updateTotal(value) {
		var total = 0;
		$('.subTotal').each(function() {
			val = parseFloat($(this).val()) | 0;
			total = val ? (parseFloat(total + val)) : total;
		});
		$("#total").text(total);
		$("#total").val(total);
	};
	function getBalance(value) {
		contextPath = /*[[@{/}]]*/'';
		fieldName = "#balance";
		$.ajax({
			url : contextPath + "/getBalance",
			contentType : "application/json; charset=utf-8",
			data : value,
			type : "POST",
			success : function(data) {
				$(fieldName).val(data);
			},
			error : function(xhr, status, error) {
				alert("ERROR:" + xhr.responseText);
				console.log("ERROR:" + xhr.responseText);
			}
		});
	};
	function updateBalance(value) {
		var total = $("#total").val();
		var remain = total - value;
		$("#balance2").val(remain);

	}
</script>
<body class="hold-transition skin-blue sidebar-mini">

	<div th:replace="template:: wrapper"></div>



	<div class="content-wrapper">
		<div class="content-header">
			<h1 align="center">Receive Credit</h1>
		</div>
		<!-- Main content -->
		<section class="content">
			<div class="row">
				<!-- left column -->
				<div class="col-md-12">
					<!-- general form elements -->
					<div class="box box-info">
						<!-- form start -->
						<form class="form-horizontal" th:action="@{/CreditReceipt/Save}"
							method="post">
							<div class="box-body">
								<div class="col-sm-3">
									<label for="accPay" class="control-label input-lg">Payment
										Account</label> <select type="text" class="form-control input-lg"
										id="cash" onchange="getBalance(this.value)" name="bankSource"
										th:field="${arReciept.BankSourceID}" required="required">
										<option value="">Please Select</option>
										<option th:each="asset : ${currentAsset.childList}"
											th:value="${asset.Acc_ID}" th:text="${asset.accName}">Bank</option>
									</select>
								</div>
								<div class="col-sm-2 text-center">
									<label for="balanceVal" align="center"
										class="control-label input-lg">Balance</label> <input
										id="balance" readonly="readonly" class="label-total"
										align="center" />
								</div>
								<div class="col-sm-2 pull-right">

									<label for="date" class="control-label input-lg" align="center">Expected
										Date</label> <input type="date" readonly="readonly"
										class="form-control input-lg" id="myDate"
										th:value="${arReciept.AR_ID.date}" />

								</div>
							</div>
							<div class="box-body">
								<div class="col-sm-3">
									<label>Payment Method</label> <select
										th:field="${arReciept.PM_ID}" type="text"
										class="form-control input-lg" name="paymentMethod" required="required">
										<option th:value="999">Please Select</option>
										<option th:each="method: ${methodList}"
											th:value="${method.PM_ID}" th:text="${method.name}">Cheque</option>
									</select>
								</div>
								<div class="col-sm-3">
									<label>Received Date</label> <input type="date"
										class="form-control input-lg" id="recievedDate"
										th:field="${arReciept.Date}" required="required"/>
								</div>
								<div class="col-sm-2 pull-right">
									<label for="refNo" class="control-label input-lg">Ref.
										No</label> <input type="text" class="form-control input-lg" id="refNo"
										th:value="${arReciept.AR_ID.diary_No}" />
								</div>
							</div>
							<div class="box-body">
								<table id="table1" class="table table-bordered table-hover">
									<thead>
										<tr>
											<th>#</th>
											<th width="200px">Payer</th>
											<th width="230px">Account</th>
											<th width="230px">Sub Group</th>
											<th>Description</th>
											<th>Amount</th>
										</tr>
									</thead>
									<tbody>


										<tr th:each="Detail,row : ${arReciept.AR_ID.AR_DetailList}">
											<td th:value="${row.index}" th:text="${row.index+1}"></td>
											<td><select class="form-control input-lg"
												readonly="readonly">
													<option th:value="${arReciept.AR_ID.person_ID}"
														th:if="${arReciept.AR_ID.person_ID} !=null"
														th:text="${arReciept.AR_ID.person_ID.Fname +' '+arReciept.AR_ID.person_ID.Lname}"></option>
											</select></td>
											<td><input class="form-control input-lg"
												readonly="readonly"
												th:value="${Detail.subGroup_ID.isParent.accName}" /></td>
											<td><select class="form-control input-lg" id="cash"
												readonly="readonly">
													<option th:value="${Detail.subGroup_ID.Acc_ID}"
														th:text="${Detail.subGroup_ID.accName}"></option>
											</select></td>

											<td><input class="form-control input-lg"
												readonly="readonly" th:value="${Detail.remarks}" type="text" /></td>
											<td><input class="form-control input-lg"
												readonly="readonly" th:value="${Detail.amountReceived}" /></td>

										</tr>
										<tr>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td><label class="text-center">Total:</label> <input
												type="text" class="label-total" id="total"
												readonly="readonly" th:value="${arReciept.AR_ID.total}" /></td>
										</tr>
										<tr>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td><label>Amount Received</label> <input type="text"
												class="label-total" id="amountReceived"
												onchange="updateBalance(this.value)"
												th:field="${arReciept.amountReceived}" /></td>
											<td></td>
										</tr>
										<tr>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td><label>Balance</label> <input type="text"
												class="label-total" id="balance2" /></td>
											<td></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="form-group">

								<label class="col-sm-2 control-label input-lg">Remarks:</label>
								<div class="col-sm-5">
									<textarea class="form-control input-lg" rows="4" cols="4"
										th:field="${arReciept.remarks}"
										placeholder="Enter Any details if needed"></textarea>
								</div>
							</div>
							<div class="box-footer">
								<button type="reset" class="btn btn-default">Cancel</button>
								<button type="submit" class="btn btn-info pull-right">Save</button>
							</div>
						</form>

					</div>
				</div>
			</div>
		</section>
	</div>




	<div th:replace="template:: footer"></div>
</body>
</html>