<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="template:: head"></div>


<script>
	function updateTotal(value) {
		var total = 0;
		$('.subTotal').each(function() {
			val = parseFloat($(this).val()) | 0;
			total = val ? (parseFloat(total + val)) : total;
		});
		$("#total").text(total);
		$("#total").val(total);
	}
</script>
<body class="hold-transition skin-blue sidebar-mini">

	<div th:replace="template:: wrapper"></div>



	<div class="content-wrapper">
		<div class="content-header">
			<h1 align="center">Transfer</h1>
		</div>
		<!-- Main content -->
		<section class="content">
			<div class="row">
				<!-- left column -->
				<div class="col-md-12">
					<!-- general form elements -->
					<div class="box box-info">
						<!-- form start -->
						<form class="form-horizontal" th:object="${wrapper.TrailBalance}"
							action="/CreditNote/Save" method="post">
							<div class="form-group">
								<label for="inputPassword3" class="col-sm-1 control-label">From</label>
								<div class="col-sm-3">
									<select class="form-control"
										th:field="${wrapper.TrailBalance.person_ID}"
										th:each="person : ${personList}">
										<option value="0">Please Select</option>
										<option th:value="${person.PersonID}"
											th:text="${person.Fname +' '+person.Lname}"></option>
									</select>
								</div>
								<div class="col-sm-5">
								</div>
								<div class="col-sm-2" align="right">
									<h2>
										<label for="inputPassword3" class="control-label"
											align="center">Total</label> <input th:id="total"
											th:field="${wrapper.TrailBalance.total}" readonly="readonly" />
									</h2>
								</div>
							</div>

							<div class="form-group">
							<label class="col-sm-1 control-label">Billing Address</label>
								<div class="col-sm-3">
									<textarea class="form-control" rows="4" cols="4"
										th:field="${wrapper.TrailBalance.remarks}"
										placeholder="Enter Any details if needed"></textarea>
								</div>
								<div class="col-sm-3">
								<label for="date" class="control-label" align="center">Credit Note Date</label>
									<input type="date" class="form-control" id="myDate"
										th:field="${wrapper.TrailBalance.date}" />
								</div>
							</div>

							<table id="table1" class="table table-bordered table-hover">
								<thead>
									<tr>
										<th>#</th>
										<th>Account</th>
										<th>Description</th>
										<th>Amount</th>
										<th></th>
									</tr>
								</thead>
								<tbody>

									<tr th:each="i: ${#numbers.sequence(0, 5)}">
										<td></td>
										<td><select type="text" class="form-control" id="cash"
											th:field="${wrapper.TB_DetailList[__${i}__].subGroup_ID}">
												<option value="0">Please Select</option>
												<option th:each="asset : ${AssetList}"
													th:value="${asset.Acc_ID}" th:text="${asset.accName}">Cash
													In hand</option>
										</select></td>

										<td><input
											th:field="${wrapper.TB_DetailList[__${i}__].remarks}"
											type="text" /></td>
										<td><input
											th:field="${wrapper.TB_DetailList[__${i}__].subTotal}"
											onblur="updateTotal(this.value)"
											placeholder="enter subtotal " class="subTotal" /></td>

									</tr>

								</tbody>

							</table>
							<div class="form-group">

								<label class="col-sm-2 control-label">Remarks:</label>
								<div class="col-sm-10">
									<textarea class="form-control" rows="4" cols="4"
										th:field="${wrapper.TrailBalance.remarks}"
										placeholder="Enter Any details if needed"></textarea>
								</div>
							</div>
							<div class="box-footer">
								<button type="reset" class="btn btn-default">Cancel</button>
								<button type="submit" class="btn btn-info pull-right">Save</button>
							</div>
						</form>

					</div>
				</div>
			</div>
		</section>
	</div>




	<div th:replace="template:: footer"></div>
</body>
</html>