<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="template:: head"></div>
<body class="hold-transition skin-blue sidebar-mini">
	<script>
		function getReport(value) {
			if (value == '0') {
				return;
			}
			if (value == '3') {
				$("#customDates").show();
			} else {
				$("#customDates").hide();
				$("#IncomeForm").submit();
			}

		}
	</script>

	<div th:replace="template:: wrapper"></div>
	<div class="content-wrapper">
		<div class="content">
			<div class="box box-danger center">
				<div class="box-header with-border text-center">
					<h2>Income Report</h2>
					<p>
						<strong th:text="${label}"></strong>
					</p>
				</div>
				<div>
					<form action="/Income/DateWiseIncome" method="post"
						id="IncomeForm">
						<div class="col-sm-3 pull-right">
							<select class="form-control" onchange="getReport(this.value)"
								th:selected="${selectedValue}" name="selectValue">
								<option value="0"
									th:selected="${selectedValue} == null ? 'selected'">Please Select</option>
								<option value="1"
									th:selected="${selectedValue} == '1' ? 'selected'">This Month</option>
								<option value="2"
									th:selected="${selectedValue} == '2' ? 'selected'">This Year</option>
								<option value="3"
									th:selected="${selectedValue} == '3' ? 'selected'">Custom Dates</option>
							</select>

						</div>
						<div class="col-sm-3 " id="customDates"
							th:hidden="${selectedValue} != '3' ? hidden">
							<label>Start Date : </label> <input type="date"
								class="form-control" placeholder="Enter Start Date"
								name="startDate" required="required" /> <label>End Date
								:</label> <input class="form-control" type="date" name="endDate"
								required="required" placeholder="Enter End Date" />
							<button type="submit" class="btn-primary">Search</button>

						</div>
					</form>
					<table class="table stripped">
						<tr>
							<td>
								<h3>Incomes</h3>
							</td>
						</tr>

						<tr th:each="TI : ${tBIncomeList}">
							<td th:text="${TI.TB_ID}"></td>
							<td th:text="${TI.total}"></td>
						</tr>
						<tr>
							<td></td>
						</tr>
						<tr>
							<td><strong>Total Income</strong></td>
							<td th:text="${incomeSum}"></td>
						</tr>
					</table>
				</div>


			</div>
		</div>

	</div>

	<div th:replace="template:: footer"></div>
</body>
</html>