<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="template:: head"></div>


<script th:inline="javascript">
	function updateTotal(value) {
		var total = 0;
		$('.subTotal').each(function() {
			val = parseFloat($(this).val()) | 0;
			total = val ? (parseFloat(total + val)) : total;
		});
		$("#total").text(total);
		$("#total").val(total);
	};
	function getBalance(value) {
		contextPath = /*[[@{/}]]*/'';
		fieldName = "#balance";
		$.ajax({
			url : contextPath + "/getBalance",
			contentType : "application/json; charset=utf-8",
			data : value,
			type : "POST",
			success : function(data) {
				$(fieldName).val(data);
			},
			error : function(xhr, status, error) {
				alert("ERROR:" + xhr.responseText);
				console.log("ERROR:" + xhr.responseText);
			}
		});
	};
	function getSubType(index, value) {
		fieldName = "#subType" + index;
		$.ajax({
			url :contextPath + "/getSubType",
			contentType : "application/json; charset=utf-8",
			data : value,
			type : "POST",
			success : function(prodType) {
				$('fieldName').val();
				$.each(prodType, function(key, value, dropDown) {
					$(fieldName).append(
							$("<option></option>").attr("value", value[0])
									.text(value[1]));
				});

			},
			error : function(xhr, status, error) {
				alert("ERROR:" + xhr.responseText);
				console.log("ERROR:" + xhr.responseText);
			}
		});
	}
</script>
<body class="hold-transition skin-blue sidebar-mini">

	<div th:replace="template:: wrapper"></div>



	<div class="content-wrapper">
		<div class="content-header">
			<h1 align="center">Income</h1>
		</div>
		<!-- Main content -->
		<section class="content">
			<div class="row">
				<!-- left column -->
				<div class="col-md-12">
					<!-- general form elements -->
					<div class="box box-info">
						<!-- form start -->
						<form class="form-horizontal" th:object="${TrailBalance}"
							th:action="@{/Income/Save}" method="post">
							<div class="box-body">
								<div class="col-sm-3">
									<label for="inputPassword3" class="control-label input-lg">From</label>
									<select class="form-control input-lg"
										th:field="${TrailBalance.person_ID}" required="required">
										<option value="">Please Select</option>
										<option th:each="person : ${personList}"
											th:value="${person.PersonID}"
											th:text="${person.Fname +' '+person.Lname}"></option>
									</select>
								</div>
								<div class="col-sm-3">
									<label for="inputPassword3" class="control-label input-lg">Bank/Credit
										Account</label> <select type="text" class="form-control input-lg"
										id="cash" name="bankSource" onchange="getBalance(this.value)"
										th:field="${TrailBalance.bankSourceID}">
										<option value="0">Please Select</option>
										<option th:each="asset : ${currentAsset.childList}"
											th:value="${asset.Acc_ID}" th:text="${asset.accName}">Bank</option>
									</select>
								</div>
								<div class="col-sm-2">
									<label for="balanceVal" class="control-label input-lg">Balance</label>
									<input id="balance" readonly="readonly" class="label-total" />
								</div>
								<div class="col-sm-3 pull-right text-center">
									<label for="inputPassword3" class="control-label input-lg"
										align="center">Total</label> <input th:id="total"
										class="label-total" th:field="${TrailBalance.total}"
										readonly="readonly" />
								</div>
							</div>
							<div class="box-body">
								<div class="col-sm-2 pull-right">
									<label for="refNo" class="control-label input-lg">Ref.
										No</label> <input type="text" class="form-control input-lg" id="refNo"
										th:field="${TrailBalance.diaryNo}" />
								</div>
								<div class="col-sm-3">
									<label for="total" class="control-label input-lg"
										align="center">Payment Method</label> <select type="text"
										class="form-control input-lg"
										th:field="${TrailBalance.paymentDetail[0].PM_ID}"
										name="paymentMethod">
										<option th:value="0">Please Select</option>
										<option th:each="method : ${methodList}"
											th:value="${method.PM_ID}" th:text="${method.name}">Cheque</option>

									</select>
								</div>
								<div class="col-sm-3">
									<label for="date" class="control-label input-lg" align="center">Date
									</label> <input type="date" class="form-control input-lg" id="myDate"
										th:field="${TrailBalance.date}" />
								</div>

								<div class="col-sm-3">
									<label for="refNo" class="control-label input-lg">Payment
										Details</label> <input type="text" class="form-control input-lg"
										id="paymentDetials"
										th:field="${TrailBalance.paymentDetail[0].paymentDetail}" />
								</div>


							</div>
							<div class="box-body">
								<table id="table1" class="table table-bordered table-hover">
									<thead>
										<tr>
											<th>#</th>
											<th width="230px">Account</th>
											<th width="310px">Sub Account</th>
											<th>Description</th>
											<th width="150px">Amount</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="i: ${#numbers.sequence(0, 5)}">
											<td th:value="${i}" th:text="${i+1}"></td>


											<td><select class="form-control input-lg"
												th:onchange="'javascript:getSubType(' + ${i} + ',this.value );'">
													<option value="999">Please Select</option>

													<th:block th:each="parent : ${income}">

														<option th:value="${parent.Acc_ID}" disabled="disabled"
															th:text="${parent.accName}" class="custom-bold">Cash
															In hand</option>

														<th:block th:each="child : ${parent.childList}">

															<option th:value="${child.Acc_ID}"
																th:text=" ${child.accName}">Cash In hand</option>

														</th:block>
													</th:block>

											</select></td>
											<td><select type="text" class="form-control input-lg"
												th:id="${'subType' + i}"
												th:field="${TrailBalance.TB_DetailList[__${i}__].subGroup_ID}">
													<option value="0">Please Select</option>
											</select></td>

											<td><input class="form-control input-lg"
												th:field="${TrailBalance.TB_DetailList[__${i}__].remarks}"
												type="text" /></td>
											<td><input
												th:field="${TrailBalance.TB_DetailList[__${i}__].subTotal}"
												onblur="updateTotal(this.value)"
												placeholder="enter subtotal "
												class="subTotal form-control input-lg" /></td>

										</tr>

									</tbody>

								</table>
							</div>
							<div class="form-group">

								<label class="col-sm-2 control-label input-lg">Remarks:</label>
								<div class="col-sm-5">
									<textarea class="form-control input-lg" rows="4" cols="4"
										th:field="${TrailBalance.remarks}"
										placeholder="Enter Any details if needed"></textarea>
								</div>
							</div>
							<div class="box-footer">
								<button type="reset" class="btn btn-default">Cancel</button>
								<button type="submit" class="btn btn-info pull-right">Save</button>
							</div>
						</form>

					</div>
				</div>
			</div>
		</section>
	</div>




	<div th:replace="template:: footer"></div>
</body>
</html>