<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="template:: head"></div>
<body class="hold-transition skin-blue sidebar-mini">

	<div th:replace="template:: wrapper"></div>
	<div class="content-wrapper">
		<div class="content">
			<div class="box box-danger center">
				<div class="box-header with-border text-center">
					<h2>Chart Of Account</h2>
				</div>
				<div>
					<!-- <table class="table stripped">
						<th:block th:each="asset : ${list}">
							<tr>
								<td th:text="${asset.accName}"></td>
							</tr>
							<th:block th:each="item : ${asset.childList}">
								<tr>
									<td></td>
									<td th:text="${item.accName}"></td>
								</tr>

								<tr th:each="item : ${item.childList}">
									<td width="10px"></td>
									<td width="10px"></td>
									<td th:text="${item.accName}"></td>
								</tr>
							</th:block>
						</th:block>
						<tr>
							<td></td>
						</tr>
					</table>
 -->
				</div>
				<div>
					<table class="table stripped">
						<th>Account</th>
						<th>Group</th>
						<th>Head</th>
						<th>Amount</th>

						<th:block th:each="asset : ${list}">
							<th:block th:each="child : ${asset.childList}">
								<tr th:each="item : ${child.childList}">
									<td th:text="${item.accName}"></td>
									<td th:text="${child.accName}"></td>
									<td th:text="${asset.accName}"></td>
									<td th:text="${item.amount}"
										th:if="${asset.accName} != 'INCOME'"
										th:unless="${asset.accName} == 'EXPENSES'"></td>
								</tr>
							</th:block>
						</th:block>
						<tr>
							<td></td>
						</tr>
					</table>
				</div>


			</div>
			<!-- <th:block th:each="asset : ${list}">
				<li class="treeview"><span th:text="${asset.accName}"></span>
					<ul class="treeview-menu">
						<th:block th:each="item : ${asset.childList}">
							<li class="treeview"><span th:text="${item.accName}"></span>
								<ul class="treeview-menu" th:each="item : ${item.childList}">
									<li th:text="${item.accName}"></li>
								</ul></li>
						</th:block>
					</ul></li>
			</th:block> -->
		</div>

	</div>
	<div th:replace="template:: footer"></div>
</body>
</html>