<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="template:: head"></div>

<script>
	function getReport(value) {
		if (value == '0') {
			return;
		}
		if (value == '3') {
			$("#customDates").show();
		} else {
			$("#customDates").hide();
			$("#BillForm").submit();
		}

	}
</script>

<body class="hold-transition skin-blue sidebar-mini">


	<div th:replace="template:: wrapper"></div>


	<div class="content-wrapper">
		<div class="content">
			<div class="box box-danger center">
				<div class="box-header with-border text-center">
					<h2>Bills List </h2>
					<p>
						<strong th:text="${label}"></strong>
					</p>
				</div>
				<div>
					<!-- form start -->
					<form action="/Bill/DateWiseBill" method="post"
						class="form-horizontal" id="BillForm">
						<div class="box-body">
							<div class="col-sm-3 pull-right">
								<select class="form-control" onchange="getReport(this.value)"
									th:selected="${selectedValue}" name="selectValue">
									<option value="0"
										th:selected="${selectedValue} == null ? 'selected'">Please
											Select</option>
									<option value="1"
										th:selected="${selectedValue} == '1' ? 'selected'">This
											Month</option>
									<option value="2"
										th:selected="${selectedValue} == '2' ? 'selected'">This
											Year</option>
									<option value="3"
										th:selected="${selectedValue} == '3' ? 'selected'">Custom
											Dates</option>
								</select>

							</div>
							<div class="col-sm-3 " id="customDates"
								th:hidden="${selectedValue} != '3' ? hidden">
								<label>Start Date : </label> <input type="date"
									class="form-control" placeholder="Enter Start Date"
									name="startDate" required="required" /> <label>End
									Date :</label> <input class="form-control" type="date" name="endDate"
									required="required" placeholder="Enter End Date" />
								<button type="submit" class="btn-primary">Search</button>

							</div>
						</div>
					</form>
					<div class="box-body">
						<table id="table1" class="table table-bordered table-hover">
							<thead>
								<tr>
									<th>#</th>
									<th>Bill ID</th>
									<th>Diary NO.</th>
									<th>Date</th>
									<th>Due Date</th>
									<th>Status</th>
									<th>Amount</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="Detail,row : ${BillsList}">
									<td th:value="${row.index}" th:text="${row.index+1}"></td>
									<td><input class="form-control input-lg"
										th:value="${Detail.AP_ID}" readonly="readonly" /></td>
									<td><input class="form-control input-lg"
										th:value="${Detail.diary_No}" readonly="readonly" /></td>
									<td><input class="form-control input-lg"
										th:value="${Detail.date}" readonly="readonly" /></td>
									<td><input class="form-control input-lg"
										th:value="${Detail.dueDate}" readonly="readonly" /></td>
									<td><input class="form-control input-lg"
										th:value="${Detail.status}" readonly="readonly" /></td>
									<td><input class="form-control input-lg"
										th:value="${Detail.total}" readonly="readonly" /></td>

									<td><a th:href="'BillReceipt/'+ ${Detail.AP_ID}"><button
												class="btn btn-info">View Details</button></a></td>

								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="template:: footer"></div>
</body>
</html>